body{
	text-align: center;
	margin: 0 auto;
}
/*NAVBAR*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: $color-fondo;
	border-radius: none;
	padding: 0;
	li{
		a{
			text-align: center;
			margin: 0 auto;
			color: #fff;
		}
	}
}

 .navbar-nav {
    width: 100%;
    text-align: center;
     li {
      float: none;
      display: inline-block;
    }
  }

.navbar-default .navbar-nav .active a{
	background-color: transparent;
	color: $color-texto-secundario;
}
/*SLIDER*/
.carousel{
	margin-top: -21px;
	border-bottom: 4px solid $color-fondo;

}

/*therapy*/
.therapy{
	background-color: #e9e0b7;
	padding-bottom: 40px;
	border-bottom: 2px solid $color-texto-secundario;
	img{
		border-radius: 100%;
		border: 10px solid  $color-texto-secundario;
		margin-top: -50px;
	}
	p{
		@include textos-p();
		color: $color-texto-primario;
	}
	h4{
		@include titulo-h4()
	}
	a{
		background-color: $color-texto-secundario;
		font-size: 10px;
		padding: 5px;
		color: $color-texto-primario;
	}
}
.welcome{
	background-color: $color-fondo-welome;
	padding: 40px 0;
	border-bottom: 2px solid $color-texto-secundario;
	.text-welcome{
		padding: 0 80px;
	}
	img{
		border-radius: 20px;
	}
	p{
		@include textos-p();
			padding: 0;
			text-align: left;
	}
	ul{
		padding: 20px 0;
		li{
			@include textos-p();
			padding: 5px 0;
			text-align: left;
			list-style: none;
		}
	}
	h3{
		@include titulo-h3()
	}
	i{
		padding-right: 10px;
		color: $color-texto-welcome;
		font-size: 18px;
	}
}
.about{
	background-color: $color-fondo-about;
	padding: 60px 0 20px;
	color: $color-texto-secundario;
	border-bottom: 2px solid $color-fondo-welome;
	p{
		@include textos-p();
	}
	.left{
		text-align: left;
		img{
			float: right;
			padding: 20px;
			border-radius: 40px;
		}
		.decoracion{
			padding: 20px 0;
			.line{
				@include decoracion-line();
				left: 25px;
			}
			i{
				@include decoracion-icon();
			}
		}
	}
	.right{
		text-align: right;
		img{
			float: left;
			padding: 20px;
			border-radius: 40px;	
		}
		.decoracion{
			padding: 20px 10px;
			.line{
				@include decoracion-line();
				right: 25px;
			}
			i{
				@include decoracion-icon();
			}
		}
	}
}
.footer{
	background-color: $color-fondo;
	color: $color-texto-secundario;
	padding: 30px 0;
	text-align: left;
	.redes{
		img{
			@include redes-iconos();
		}
	}
	h4{
		@include titulo-h4()
	}
	h3{
		@include titulo-h4();
		font-size: 18px;
	}
	a{
		color: $color-texto-welcome;
	}
	.base-footer{
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $color-texto-secundario;
	}
	.people{
		img{
			float: left;
			padding: 0 15px 15px 0;
		}
	}
}