body{
	text-align: center;
	margin: 0 auto;
}
/*NAVBAR*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: $color-fondo;
	border-radius: none;
	padding: 0;
	li{
		a{
			text-align: center;
			margin: 0 auto;
			color: #fff;
		}
	}
}

 .navbar-nav {
    width: 100%;
    text-align: center;
     li {
      float: none;
      display: inline-block;
    }
  }

.navbar-default .navbar-nav .active a{
	background-color: transparent;
	color: $color-texto-secundario;
}
/*SLIDER*/
.carousel{
	margin-top: -21px;
	border-bottom: 4px solid $color-fondo;

}