$color-fondo: #2f1f1f;
$color-texto-primario: #333333;
$color-texto-secundario: #dbbe84;
$color-texto-welcome: #d96c41;
$color-fondo-welome: #f4f4f4;
$color-fondo-about: #4a3a3a;

/*media variables*/
$break-small: 320px;
$break-medium: 768px;
